body {
  font-family: system-ui, arial, sans-serif;

  color: #fff;

  background-color: #0056ab;
}

button {
  padding-block: 8px;
  padding-inline: 12px;

  font-size: 1rem;

  color: #0056ab;

  cursor: pointer;

  border: none;
  border-radius: 4px;

  background-color: #f7ff75;
}

a {
  color: #f7ff75;

  outline-offset: 0;
}

input {
  padding-block: 8px;
  padding-inline: 12px;

  color: #fff;

  font-size: 1rem;

  border: 2px solid #f7ff75;
  border-radius: 8px;

  background-color: #9fa828;
}

button:focus-visible,
a:focus-visible,
input:focus-visible {
  box-shadow: 0 0 0 4px #f7ff75;
  outline: 2px solid #0056ab;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-block-size: 100dvh;
}
