.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  inline-size: 100%;
}

.login-form__welcome {
  margin-block: 32px;

  text-align: center;
}

.login-form__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login-form__input-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.login-form__password-input-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.login-form__password-input {
  flex: 1;
}

.login-form__action-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.login-form__email-input,
.login-form__password-input {
  block-size: 40px;
}

.login-form__submit,
.login-form__show-password {
  min-block-size: 40px;
}

.login-form__submit {
  min-inline-size: 100px;
}

.login-form__show-password {
  min-inline-size: 65px;
}

.login-form__error {
  color: #ff0000;

  font-size: 0.875rem;
}
